img.shortcut_button {
    opacity: 0.85;
}

    img.shortcut_button:hover {
        opacity: 1.0;
        cursor: pointer;
    }
    
div.message_info {
    margin-bottom: 15px;
    padding: 8px;
    background: #ffe4bf;
    
    border: 1px solid #ea9a5a;
    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    color: #983b22;
    cursor: pointer;
}    

    div.message_info h3 {
        margin-bottom: 5px;
        padding-left: 0px;
    }
    
div.message_warning {
    margin-bottom: 15px;
    padding: 8px;
    background: #ffd4c5;
    
    border: 1px solid #f57a5f;
    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
    color: #9f2412;
    cursor: pointer;
}    

    div.message_warning h3 {
        margin-bottom: 5px;
        padding-left: 0px;
    }
    
div.options_box_1 {
    padding: 15px;
    background: #efefef;
    border: 1px solid #dfdfdf;    
    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
    margin-bottom: 10px;
}
    
div.options_box_2 {
    padding: 15px;
    background: #fafafa;
    border: 1px solid #ececec;    
    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
    margin-bottom: 10px;
}

div.link_category_wrapper {
    margin-bottom: 30px;
}

div.link_category_head {
    padding: 15px;
    
    background: #efefef url(../images/link-cat-head-bg.png) repeat-x;
    border: 1px solid #c8c8c8;
    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
    text-shadow: 1px 1px 6px #898989, 0px 1px 1px #ffffff;
    /*box-shadow:
        inset 0px -17px 50px -10px #c4c4c4;
    -moz-box-shadow:
        inset 0px -17px 50px -10px #c4c4c4;
    -webkit-box-shadow:
        inset 0px -17px 50px -10px #c4c4c4;*/
    
    margin-bottom: 10px;
}

div.checkbox_data_selector {
    height: 138px;
    overflow: auto;
    padding: 10px;
    
    background: #f5f5f5;
    border: 1px solid #bfbfbf;
    
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;    
}

div.float_left {
    float: left;
}

div.float_right {
    float: right;
}

.hidden_element {
	height: 0px !important;
	width: 0px !important;
	padding: 0px !important;
	margin: 0px;
	border: 0px !important;
	margin-left: -3px;
	float: left;
	visibility: hidden !important;
}