p {
    font-family: "Verdana", "DejaVu Sans", "Lucida Sans", sans-serif;
    font-size: 9pt;
    color: #414141;
}

a {
    font-family: "Verdana", "DejaVu Sans", "Lucida Sans", sans-serif;
    font-size: 9pt;
    color: #0024aa;
    text-decoration: none;
}

a:hover {
    color: #3377dd;
}

ul {
    margin: 0;
    padding: 0;
    
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul li {
    padding-bottom: 2px;
}

table {
    padding-top: 5px;
    padding-bottom: 5px;
}

div#header h1{
    margin: 0;
    padding: 0;
    font-family: "Verdana", "DejaVu Sans", "Lucida Sans", sans-serif;
    font-size: 13pt;
    color: #ffffff;
    padding-top: 28px;
    padding-left: 30px;
}

div#header h1 a {
    font-family: "Verdana", "DejaVu Sans", "Lucida Sans", sans-serif;
    font-size: 13pt;
    color: #ffffff;
    text-decoration: none;
}

h1, h1 a {
    font-family: "Verdana", "DejaVu Sans", "Lucida Sans", sans-serif;
    font-size: 14pt;
    color: #414141;
    padding-top: 11px;
    padding-bottom: 5px;
}

h2, h2 a {
    font-family: "Verdana", "DejaVu Sans", "Lucida Sans", sans-serif;
    font-size: 11pt !important;
    font-weight: bold;
    color: #414141 !important;
    border-bottom: 1px solid #a6a6a6;
    padding-top: 7px;
    padding-bottom: 2px;
    margin-bottom: 3px;
}

h3, h3 a {
    font-family: "Verdana", "DejaVu Sans", "Lucida Sans", sans-serif;
    font-size: 10pt !important;
    font-weight: bold;
    color: #414141;
    padding-top: 10px;
    padding-bottom: 4px;
}

	h3 a {
	    color: #414141 !important;
	}

	div.message_info h3, div.message_warning h3 {
	    padding-top: 2px !important;
	    padding-bottom: 4px;
	}

		div.message_info h3, div.message_info p {
		    color: #983b22 !important;
		}
	
		div.message_warning h3, div.message_warning p {
		    color: #9f2412 !important;
		}

h4, h4 a {
    font-family: "Verdana", "DejaVu Sans", "Lucida Sans", sans-serif;
    font-size: 10pt !important;
    font-weight: bold;
    color: #414141 !important;
    border-bottom: 1px solid #a6a6a6;
    padding-top: 9px;
    padding-bottom: 2px;
    margin-bottom: 3px;
}

h5, h5 a {
    font-family: "Verdana", "DejaVu Sans", "Lucida Sans", sans-serif;
    font-size: 9pt !important;
    font-weight: bold;
    color: #414141 !important;
    padding-top: 9px;
    padding-bottom: 3px;
}

h6, h6 a {
    font-family: "Verdana", "DejaVu Sans", "Lucida Sans", sans-serif;
    font-size: 8pt !important;
    font-weight: bold;
    color: #414141 !important;
    padding-top: 9px;
    padding-bottom: 3px;
}
    
input[type=text], input[type=password], textarea {
    font-family: "Verdana", "DejaVu Sans", "Lucida Sans", sans-serif;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    
    border: 1px solid #c6c6c6;
    background-color: #f5f5f5;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 1px;
    
    font-size: 8pt;

}

textarea {
    padding: 6px;
}
    
input[type=text]:hover, input[type=password]:hover, textarea:hover {    
    border-color: #aabfdf;
    background-color: #f7f7f7;
}
    
input[type=text]:focus, input[type=password]:focus, textarea:focus {    
    border-color: #4482ef;
    background-color: #ffffff;
}

div#search input[type=text] {
    height: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 18px;
    margin-top: 2px;
    width: 262px;
    background: #f5f5f5 url(../images/edit-find.png) no-repeat;
}

div#search input[type=submit] {
    display: none;
}
