* {
    margin: 0;
    padding: 0;
}

body {
    background: #dddddd;
}

div#main_wrapper {
    width: 500px;
    margin: auto;
}

    div#main_inner_wrapper {
        margin-top: 60px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 15px;
        
        border-radius: 8px;
       	-moz-border-radius: 8px;
      	-webkit-border-radius: 8px;
      	
      	box-shadow: 1px 0px 18px -1px #646464;
      	-moz-box-shadow: 1px 0px 18px -1px #646464;
      	-webkit-box-shadow: 1px 0px 18px -1px #646464;
    }

        div#top_wrapper {
            width: 100%;
            height: 52px;
            
            background: url(../../images/top-bg.png) repeat-x /*#000000*/;
            
            padding: 1px;
            padding-bottom: 0px;
            
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            -moz-border-radius-topleft: 8px;
            -moz-border-radius-topright: 8px;
            -webkit-border-top-left-radius: 8px;
            -webkit-border-top-right-radius: 8px;
            
            border-bottom: 2px solid #7799FF;
            
            /*box-shadow: 0px 0px 18px -1px #565656, inset 0px -1px 0px rgba(255, 255, 255, 0.7);
            -moz-box-shadow: 0px 0px 18px -1px #565656, inset 0px -1px 0px rgba(255, 255, 255, 0.7);
            -webkit-box-shadow: 0px 0px 18px -1px #565656, inset 0px -1px 0px rgba(255, 255, 255, 0.7)*/;
            
            /*box-shadow: 0px 0px 7px #454545/*, inset 0px 20px 40px -1px #3f3f3f*/;
            /*-moz-box-shadow: 0px 0px 7px #454545/*, inset 0px 20px 40px -1px #3f3f3f*/;
            /*-webkit-box-shadow: 0px 0px 7px #454545/*, inset 0px 20px 40px -1px #4c4c4c*/;
        }
        
        div#middle_wrapper {
            margin-top: 0px/*13px*/;
            padding-top: 3px;          
            
            width: 100%;
            min-height: 200px;
            
            background: #ffffff;        
            
            border: 1px solid #ffffff;
            
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            -moz-border-radius-bottomleft: 8px;
            -moz-border-radius-bottomright: 8px;
            -webkit-border-bottom-left-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
            
            /*box-shadow: 0px 0px 7px #787878/*, inset 0px 10px 25px -10px #dadada*/;    
            /*-moz-box-shadow: 0px 0px 7px #787878/*, inset 0px 10px 25px -10px #dadada*/;    
            /*-webkit-box-shadow: 0px 0px 7px #787878/*, inset 0px 10px 25px -10px #dadada*/;       
        }
        
            div#middle_inner_wrapper {
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 25px;
                margin-bottom: 25px;
                outline-width: 0px;
            }
        
                div#left_box {
                    float: left;
                    width: 210px;
                    margin-left: -230px;
                    
                    border-radius: 10px;
                    -moz-border-radius: 10px;
                    -webkit-border-radius: 10px;
                }                            
                
                div#right_box {               
                    float: left;
                    width: 100%;
                }
